<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
    <link href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      #login-wrapper {
        position: bottom;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #login-wrapper input {
        padding: 10px;
        font-size: 1rem;
        margin-top: 10px;
      }

      #login-wrapper button {
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 1rem;
        cursor: pointer;
      }

      :root {
        --chat--header--background: #d35400; /* Header text color */
      }
    </style>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
    <script src="{{ '/assets/js/shortcut-key.js' | relative_url }}"></script>
    
    <div id="login-wrapper">
      <h3>Start Chatting with Alexa AI Teaching Assitant</h3>
      <h3>Enter Access Code</h3>
      <input type="password" id="access-code" placeholder="Access Code" />
      <button onclick="verifyCode()">Enter</button>
      <p id="error-msg" style="color:red; display:none;">Incorrect code. Try again.</p>
    </div>

    <div id="n8n-chat" style="display:none;"></div>

    <script>
      async function verifyCode() {
        const input = document.getElementById('access-code').value;
        const mar3700_correctCode = 'mar3700';

        if (input === mar3700_correctCode) {
          document.getElementById('login-wrapper').style.display = 'none';
          document.getElementById('n8n-chat').style.display = 'block';

          const chatModule = await import('https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js');
          chatModule.createChat({
            webhookUrl: 'https://nicknguyenhdv.app.n8n.cloud/webhook/e985d15f-b2f6-456d-be15-97e0b1544a40/chat',
            target: '#n8n-chat',
            mode: 'fullscreen',
            chatInputKey: 'chatInput',
            chatSessionKey: 'sessionId',
            metadata: {},
            showWelcomeScreen: false,
            defaultLanguage: 'en',
            initialMessages: [
              'My name is Alexa. Your AI Teaching Assitant. How can I assist you today?'
            ],
            i18n: {
              en: {
                title: 'Hi there! 👋',
                subtitle: "",
                footer: '',
                getStarted: 'New Conversation',
                inputPlaceholder: 'Type your question..',
              },
            },
          });
        } else {
          document.getElementById('error-msg').style.display = 'block';
        }
      }
    </script>


  </body>
</html>
